<div class="master-screen">
  <div class="wrapper">
    <form class="login">
      <div class="login-div">
        <h2>Welcome, User!</h2>
        <p>Please Log In</p>
        <div class="input-box">
          <input
            name="Email"
            type="text"
            placeholder="Email"
            [(ngModel)]="loginObj.email"
          />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input
            name="Password"
            type="password"
            placeholder="Password"
            [(ngModel)]="loginObj.password"
          />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button class="login-btn" (click)="onLogin()">Login</button>
        <div class="links">
          <a href="login">Not Registered? Signup</a>
        </div>
      </div>
    </form>
  </div>
</div>
